In [11]:

import matplotlib
matplotlib.use('Qt5Agg')  # Использование Qt5Agg вместо TkAgg
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# Загрузка данных
ab_data = pd.read_csv('./data/ab_data.csv')

# Преобразование временных меток
ab_data['timestamp'] = pd.to_datetime(ab_data['timestamp'], format='%Y-%m-%d')

# Группировка данных
daily_data = ab_data.groupby(['timestamp', 'group']).agg({
    'user_id': 'count',
    'converted': 'sum'
}).reset_index().rename(columns={'user_id': 'users_count'})

# Вычисление конверсии
daily_data['conversion'] = daily_data['converted'] / daily_data['users_count'] * 100

# Plotting
plt.figure(figsize=(10, 6))
sns.boxplot(data=daily_data, x='conversion', y='group', orient='h', palette='Set2')

# Adding labels and title
plt.xlabel('Conversion')
plt.ylabel('Group')
plt.title('Boxplot of Conversion Rate by Group')

# Show plot
plt.show()

qt.qpa.plugin: Could not find the Qt platform plugin "wayland" in ""
/tmp/ipykernel_6642/2644309471.py:24: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.boxplot(data=daily_data, x='conversion', y='group', orient='h', palette='Set2')
MESA: error: ZINK: failed to choose pdev
glx: failed to create drisw screen

In [12]:
conversion_piv = daily_data.groupby('group')['conversion'].agg(
    ['mean', 'median']
)
display(conversion_piv)

            mean     median
group
A      12.032876  12.024261
B      11.872697  11.829582

In [13]:
plt.figure(figsize=(8, 4))
sns.lineplot(
    data=daily_data,
    x='timestamp',
    y='conversion',
    hue='group')

# Adding labels and title
plt.xlabel('Conversion')
plt.ylabel('Date')
plt.title('График конверсии по дням')

# Show plot
plt.show()

In [14]:
# выделяем данные группы А
daily_data_a = daily_data[daily_data['group'] == 'A']
# считаем кумулятивное количество посетителей
daily_data_a.loc[:, 'cum_users_count'] = daily_data_a['users_count'].cumsum()
# выводим время, количество посетителей и кумулятивное количество посетителей
display(daily_data_a[['timestamp', 'users_count', 'cum_users_count']].head())

/tmp/ipykernel_6642/906787284.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_data_a.loc[:, 'cum_users_count'] = daily_data_a['users_count'].cumsum()

   timestamp  users_count  cum_users_count
0 2017-01-02         2851             2851
2 2017-01-03         6584             9435
4 2017-01-04         6573            16008
6 2017-01-05         6419            22427
8 2017-01-06         6604            29031

In [15]:
# вычисляем кумулятивную сумму количества посетителей
daily_data['cum_users_count'] = daily_data.groupby(['group'])['users_count'].cumsum()
# вычисляем кумулятивную сумму количества совершённых целевых действий
daily_data['cum_converted'] = daily_data.groupby(['group'])['converted'].cumsum()
# вычисляем кумулятивную конверсию
daily_data['cum_conversion'] = daily_data['cum_converted']/daily_data['cum_users_count'] * 100
display(daily_data.head())

,timestamp,group,users_count,converted,conversion,cum_users_count,cum_converted,cum_conversion
0,2017-01-02,A,2851,357,12.521922,2851,357,12.521922
1,2017-01-02,B,2848,339,11.903090,2848,339,11.903090
2,2017-01-03,A,6584,749,11.376063,9435,1106,11.722311
3,2017-01-03,B,6620,754,11.389728,9468,1093,11.544149
4,2017-01-04,A,6573,797,12.125361,16008,1903,11.887806

In [16]:
plt.figure(figsize=(8, 4))
sns.lineplot(
    data=daily_data,
    x='timestamp',
    y='cum_conversion',
    hue='group')

# Adding labels and title
plt.xlabel('Cum_Conversion')
plt.ylabel('Date')
plt.title('График конверсии по дням')

# Show plot
plt.show()

In [17]:
# Загрузка данных
sample_a = pd.read_csv('./data/ab_test-redesign_sample_a.csv')
sample_b = pd.read_csv('./data/ab_test-redesign_sample_b.csv')

In [18]:
sample_a['date'] = pd.to_datetime(sample_a ['date'], format='%Y-%m-%d')
sample_b['date'] = pd.to_datetime(sample_b ['date'], format='%Y-%m-%d')

sample_a

            date           cid  transactions  revenue group
0     2020-11-06  1.001648e+09             0        0     A
1     2020-11-06  1.001936e+09             0        0     A
2     2020-11-06  1.003214e+08             0        0     A
3     2020-11-06  1.004393e+09             0        0     A
4     2020-11-06  1.006382e+09             0        0     A
...          ...           ...           ...      ...   ...
61566 2020-11-23  9.986289e+08             0        0     A
61567 2020-11-23  9.989196e+08             0        0     A
61568 2020-11-23  9.990631e+08             0        0     A
61569 2020-11-23  9.994210e+07             0        0     A
61570 2020-11-23  9.994748e+08             0        0     A

[61571 rows x 5 columns]

In [19]:
# Группировка данных
daily_data_a = sample_a.groupby(['date', 'group']).agg({
    'cid': 'count',
    'transactions': 'sum',
    'revenue': "sum"
}).reset_index().rename(columns={'cid': 'cid_count', 'transactions': 'sum_transactions', 'revenue': 'sum_revenue'})

daily_data_b = sample_b.groupby(['date', 'group']).agg({
    'cid': 'count',
    'transactions': 'sum',
    'revenue': "sum"
}).reset_index().rename(columns={'cid': 'cid_count', 'transactions': 'sum_transactions', 'revenue': 'sum_revenue'})

daily_data_a.head()

        date group  cid_count  sum_transactions  sum_revenue
0 2020-11-06     A       2576                16      1577279
1 2020-11-07     A       2704                23      1721886
2 2020-11-08     A       3354                25       846051
3 2020-11-09     A       3234                18       708830
4 2020-11-10     A       3022                29       826984

In [20]:
# кумулятивная сумма количества посетителей
daily_data_a['cum_cid_count'] = daily_data_a.groupby(['group'])['cid_count'].cumsum()
# кумулятивное суммарное число транзакций
daily_data_a['cum_sum_transactions'] = daily_data_a.groupby(['group'])['sum_transactions'].cumsum()
# кумулятивная общая сумма покупок (кумулятивная выручка)
daily_data_a['cum_sum_revenue'] = daily_data_a.groupby(['group'])['sum_revenue'].cumsum()
# кумулятивная конверсия
daily_data_a['cum_conversion'] = daily_data_a['cum_sum_transactions']/daily_data_a['cum_cid_count'] * 100
# кумулятивный средний чек
daily_data_a['cum_mean_check'] = daily_data_a['cum_sum_revenue']/daily_data_a['cum_sum_transactions']


# кумулятивная сумма количества посетителей
daily_data_b['cum_cid_count'] = daily_data_b.groupby(['group'])['cid_count'].cumsum()
# кумулятивное суммарное число транзакций
daily_data_b['cum_sum_transactions'] = daily_data_b.groupby(['group'])['sum_transactions'].cumsum()
# кумулятивная общая сумма покупок (кумулятивная выручка)
daily_data_b['cum_sum_revenue'] = daily_data_b.groupby(['group'])['sum_revenue'].cumsum()
# кумулятивная конверсия
daily_data_b['cum_conversion'] = daily_data_b['cum_sum_transactions']/daily_data_b['cum_cid_count'] * 100
# кумулятивный средний чек
daily_data_b['cum_mean_check'] = daily_data_b['cum_sum_revenue']/daily_data_b['cum_sum_transactions']

In [21]:
mean_cum_conversion_data_a = daily_data_a.groupby(['group'])['cum_conversion'].mean()
mean_cum_conversion_data_a

group
A    0.712755
Name: cum_conversion, dtype: float64

In [22]:
mean_cum_conversion_data_b = daily_data_b.groupby(['group'])['cum_conversion'].mean()
mean_cum_conversion_data_b

group
B    0.762178
Name: cum_conversion, dtype: float64

In [23]:
daily_data_a.head()

,date,group,cid_count,sum_transactions,sum_revenue,cum_cid_count,cum_sum_transactions,cum_sum_revenue,cum_conversion,cum_mean_check
0,2020-11-06,A,2576,16,1577279,2576,16,1577279,0.621118,98579.937500
1,2020-11-07,A,2704,23,1721886,5280,39,3299165,0.738636,84593.974359
2,2020-11-08,A,3354,25,846051,8634,64,4145216,0.741256,64769.000000
3,2020-11-09,A,3234,18,708830,11868,82,4854046,0.690934,59195.682927
4,2020-11-10,A,3022,29,826984,14890,111,5681030,0.745467,51180.450450

In [24]:
daily_data_b.head()

,date,group,cid_count,sum_transactions,sum_revenue,cum_cid_count,cum_sum_transactions,cum_sum_revenue,cum_conversion,cum_mean_check
0,2020-11-06,B,2499,19,996645,2499,19,996645,0.760304,52455.000000
1,2020-11-07,B,2804,19,555499,5303,38,1552144,0.716576,40845.894737
2,2020-11-08,B,3291,24,3044842,8594,62,4596986,0.721434,74144.935484
3,2020-11-09,B,3062,25,1285836,11656,87,5882822,0.746397,67618.643678
4,2020-11-10,B,3072,30,2414726,14728,117,8297548,0.794405,70919.213675

In [25]:
# Построение объединенного графика для сревнения конверсий
plt.figure(figsize=(10, 6))

# График для первого DataFrame
sns.lineplot(data=daily_data_a, x='date', y='cum_conversion', label='A', color="red",)

# График для второго DataFrame
sns.lineplot(data=daily_data_b, x='date', y='cum_conversion', label='B', color='blue')

# Добавление заголовка и меток осей
plt.title('Conversions')
plt.xlabel('date')
plt.ylabel('conversion')
plt.legend()

# Отображение графика
plt.show()

In [26]:
# Построение объединенного графика для среднего чека
plt.figure(figsize=(10, 6))

# График для первого DataFrame
sns.lineplot(data=daily_data_a, x='date', y='cum_mean_check', label='A', color="red",)

# График для второго DataFrame
sns.lineplot(data=daily_data_b, x='date', y='cum_mean_check', label='B', color='blue')

# Добавление заголовка и меток осей
plt.title('Mean check')
plt.xlabel('date')
plt.ylabel('mean_check')
plt.legend()

# Отображение графика
plt.show()

In [27]:
from statsmodels.stats.proportion import proportions_ztest

converted_piv= ab_data.groupby('group')['converted'].agg(
    ['sum', 'count']
)
display(converted_piv)

         sum   count
group
A      17467  145241
B      17238  145241

In [28]:
alpha = 0.05 # уровень значимости
# вычисляем значение p-value для z-теста для пропорций
_, p_value = proportions_ztest(
    count=converted_piv['sum'], #число «успехов»
    nobs=converted_piv['count'], #общее число наблюдений
    alternative='two-sided',
)
# выводим результат на экран
print('p-value: ', round(p_value, 3))
# сравниваем полученное p-value с уровнем значимости
if (p_value <= alpha):
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

# p-value:  0.19
# У нас нет оснований отвергнуть нулевую гипотезу

p-value:  0.19
У нас нет оснований отвергнуть нулевую гипотезу

In [29]:
from statsmodels.stats.proportion import proportions_chisquare

alpha = 0.05 # уровень значимости
# вычисляем значение p-value для Z-теста для пропорций
_, p_value, c = proportions_chisquare(
    count=converted_piv['sum'], #число «успехов»
    nobs=converted_piv['count'] #общее число наблюдений
)
# выводим результат на экран
print('p-value: ', round(p_value, 3))
# сравниваем полученное p-value с уровнем значимости
if (p_value <= alpha):
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

# p-value:  0.19
# У нас нет оснований отвергнуть нулевую гипотезу

p-value:  0.19
У нас нет оснований отвергнуть нулевую гипотезу

In [30]:
time_data = pd.read_excel('data/time_data.xlsx')
display(time_data.head())

   time(A)  time(B)
0    435.0    549.2
1    454.5    630.2
2    447.0    437.2
3    480.0    637.2
4    561.0    712.4

In [31]:
time_data[['time(A)', 'time(B)']].agg(['mean', 'median'])

        time(A)     time(B)
mean     492.90  595.406667
median   482.25  600.400000

In [32]:
# создаём два графика размером 12x4
fig, axes = plt.subplots(1, 2, figsize=(12, 4))
# строим гистограмму для времени на сайте в каждой группе
sns.histplot(x='time(A)', data=time_data, ax=axes[0])
sns.histplot(x='time(B)', data=time_data, ax=axes[1])
# задаём названия графикам
axes[0].set_title('Распределение времени на сайте в группе А')
axes[1].set_title('Распределение времени на сайте в группе B')
plt.show()

In [33]:
from scipy.stats import shapiro

alpha = 0.05 # уровень значимости
# вычисляем результат теста Шапиро — Уилка для выборок
shapiro_result_a = shapiro(time_data['time(A)'])
shapiro_result_b = shapiro(time_data['time(B)'])
print('p-value группы А', round(shapiro_result_a.pvalue, 2))
print('p-value группы B', round(shapiro_result_b.pvalue, 2))

# сравниваем полученное p-value для группы А с уровнем значимости
if shapiro_result_a.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной. Распределение в группе А отлично от нормального")
else:
    print("Принимаем нулевую гипотезу. Распределение в группе А является нормальным")

# сравниваем полученное p-value для группы B с уровнем значимости
if shapiro_result_b.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной. Распределение в группе B отлично от нормального")
else:
    print("Принимаем нулевую гипотезу. Распределение в группе B является нормальным")

# p-value группы А 0.43
# p-value группы B 0.12
# Принимаем нулевую гипотезу. Распределение в группе А является нормальным
# Принимаем нулевую гипотезу. Распределение в группе B является нормальным

p-value группы А 0.43
p-value группы B 0.12
Принимаем нулевую гипотезу. Распределение в группе А является нормальным
Принимаем нулевую гипотезу. Распределение в группе B является нормальным

In [34]:
from scipy.stats import ttest_ind

In [35]:
alpha = 0.05 #уровень значимости
# вычисляем результат T-теста для выборок
results = ttest_ind(
    a=time_data['time(A)'],
    b=time_data['time(B)'],
    alternative='less'
)
print('p-value:', round(results.pvalue, 2))

# сравниваем полученное p-value с уровнем значимости
if results.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

# p-value: 0.0
# Отвергаем нулевую гипотезу в пользу альтернативной

p-value: 0.0
Отвергаем нулевую гипотезу в пользу альтернативной

In [36]:
check_data = pd.read_excel('data/check_data.xlsx')
check_data.head()

        date   mean_check_a   mean_check_b
0 2020-11-06   68701.239649   88665.123322
1 2020-11-07   26136.309375   46230.394893
2 2020-11-08  119470.770656  139356.451490
3 2020-11-09   71110.880188   90867.073191
4 2020-11-10   85896.024022  105977.473589

In [37]:
check_data[['mean_check_a', 'mean_check_b']].agg(['mean', 'median'])

        mean_check_a  mean_check_b
mean    76684.763071  96658.897304
median  62883.707793  82854.201467

In [38]:
# создаём два графика размером 12x4
fig, axes = plt.subplots(1, 2, figsize=(12, 4))
# строим гистограмму для времени на сайте в каждой группе
sns.histplot(x='mean_check_a', data=check_data, ax=axes[0])
sns.histplot(x='mean_check_b', data=check_data, ax=axes[1])
# задаём названия графикам
axes[0].set_title('Распределение времени на сайте в группе А')
axes[1].set_title('Распределение времени на сайте в группе B')
plt.show()

In [39]:
from scipy.stats import mannwhitneyu

In [40]:
alpha = 0.05 # уровень значимости

# вычисляем результат теста Манна — Уитни для выборок
results = mannwhitneyu(
    x=check_data['mean_check_a'],
    y=check_data['mean_check_b'],
    alternative='two-sided'
)
print('p-value:', round(results.pvalue, 2))

# сравниваем полученное p-value с уровнем значимости
if results.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

# p-value: 0.06
# У нас нет оснований отвергнуть нулевую гипотезу

p-value: 0.06
У нас нет оснований отвергнуть нулевую гипотезу

In [41]:
alpha = 0.05 # уровень значимости

# вычисляем результат теста Манна — Уитни для выборок
results = mannwhitneyu(
    x=check_data['mean_check_a'],
    y=check_data['mean_check_b'],
    alternative='less' # изменили альтернативную гипотезу
)
print('p-value:', round(results.pvalue, 2))

# сравниваем полученное p-value с уровнем значимости
if results.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

# p-value: 0.03
# Отвергаем нулевую гипотезу в пользу альтернативной

p-value: 0.03
Отвергаем нулевую гипотезу в пользу альтернативной

In [42]:
sample_a = pd.read_csv('data/ab_test-redesign_sample_a.csv')
sample_b = pd.read_csv('data/ab_test-redesign_sample_b.csv')

# преобразуем тип столбца date к типу datetime
sample_a['date'] = pd.to_datetime(sample_a['date'])
sample_b['date'] = pd.to_datetime(sample_b['date'])

sample_a

            date           cid  transactions  revenue group
0     2020-11-06  1.001648e+09             0        0     A
1     2020-11-06  1.001936e+09             0        0     A
2     2020-11-06  1.003214e+08             0        0     A
3     2020-11-06  1.004393e+09             0        0     A
4     2020-11-06  1.006382e+09             0        0     A
...          ...           ...           ...      ...   ...
61566 2020-11-23  9.986289e+08             0        0     A
61567 2020-11-23  9.989196e+08             0        0     A
61568 2020-11-23  9.990631e+08             0        0     A
61569 2020-11-23  9.994210e+07             0        0     A
61570 2020-11-23  9.994748e+08             0        0     A

[61571 rows x 5 columns]

In [43]:
# Объединение DataFrame по строкам с использованием concat
sample = pd.concat([sample_a, sample_b], ignore_index=True)
print(sample)

             date           cid  transactions  revenue group
0      2020-11-06  1.001648e+09             0        0     A
1      2020-11-06  1.001936e+09             0        0     A
2      2020-11-06  1.003214e+08             0        0     A
3      2020-11-06  1.004393e+09             0        0     A
4      2020-11-06  1.006382e+09             0        0     A
...           ...           ...           ...      ...   ...
122949 2020-11-23  9.965675e+08             0        0     B
122950 2020-11-23  9.970803e+07             0        0     B
122951 2020-11-23  9.984814e+08             0        0     B
122952 2020-11-23  9.991118e+08             0        0     B
122953 2020-11-23  9.994657e+08             0        0     B

[122954 rows x 5 columns]

In [44]:
from statsmodels.stats.proportion import proportions_ztest

converted_piv= sample.groupby('group')['transactions'].agg(
    ['sum', 'count']
)
display(converted_piv)

       sum  count
group
A      441  61571
B      463  61383

In [45]:
alpha = 0.05 # уровень значимости
# вычисляем значение p-value для z-теста для пропорций
_, p_value = proportions_ztest(
    count=converted_piv['sum'], #число «успехов»
    nobs=converted_piv['count'], #общее число наблюдений
    alternative='smaller',
)
# выводим результат на экран
print('p-value: ', round(p_value, 3))
# сравниваем полученное p-value с уровнем значимости
if (p_value <= alpha):
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

p-value:  0.218
У нас нет оснований отвергнуть нулевую гипотезу

In [46]:
daily_sample_a = sample_a.groupby('date')[['transactions', 'revenue']].sum()
daily_sample_a['mean_check'] = daily_sample_a['revenue']/daily_sample_a['transactions']
daily_sample_b = sample_b.groupby('date')[['transactions', 'revenue']].sum()
daily_sample_b['mean_check'] = daily_sample_b['revenue']/daily_sample_a['transactions']

In [47]:
daily_sample_a

            transactions  revenue     mean_check
date
2020-11-06            16  1577279   98579.937500
2020-11-07            23  1721886   74864.608696
2020-11-08            25   846051   33842.040000
2020-11-09            18   708830   39379.444444
2020-11-10            29   826984   28516.689655
2020-11-11            19  1209656   63666.105263
2020-11-12            19   607839   31991.526316
2020-11-13            36  1338816   37189.333333
2020-11-14            30  2659277   88642.566667
2020-11-15            27  1189970   44072.962963
2020-11-16            30  4213774  140459.133333
2020-11-17            21  1779293   84728.238095
2020-11-18            20   939301   46965.050000
2020-11-19            26  2166766   83337.153846
2020-11-20            25  1119974   44798.960000
2020-11-21            18   939670   52203.888889
2020-11-22            33  1205426   36528.060606
2020-11-23            26   858274   33010.538462

In [48]:
from scipy.stats import shapiro

alpha = 0.05 # уровень значимости
# вычисляем результат теста Шапиро — Уилка для выборок
shapiro_result_a = shapiro(daily_sample_a['mean_check'])
shapiro_result_b = shapiro(daily_sample_b['mean_check'])
print('p-value группы А', round(shapiro_result_a.pvalue, 2))
print('p-value группы B', round(shapiro_result_b.pvalue, 2))

# сравниваем полученное p-value для группы А с уровнем значимости
if shapiro_result_a.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной. Распределение в группе А отлично от нормального")
else:
    print("Принимаем нулевую гипотезу. Распределение в группе А является нормальным")

# сравниваем полученное p-value для группы B с уровнем значимости
if shapiro_result_b.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной. Распределение в группе B отлично от нормального")
else:
    print("Принимаем нулевую гипотезу. Распределение в группе B является нормальным")

# p-value группы А 0.43
# p-value группы B 0.12
# Принимаем нулевую гипотезу. Распределение в группе А является нормальным
# Принимаем нулевую гипотезу. Распределение в группе B является нормальным

p-value группы А 0.01
p-value группы B 0.03
Отвергаем нулевую гипотезу в пользу альтернативной. Распределение в группе А отлично от нормального
Отвергаем нулевую гипотезу в пользу альтернативной. Распределение в группе B отлично от нормального

In [49]:
alpha = 0.05 # уровень значимости

# вычисляем результат теста Манна — Уитни для выборок
results = mannwhitneyu(
    x=daily_sample_a['mean_check'],
    y=daily_sample_b['mean_check'],
    alternative='less' # изменили альтернативную гипотезу
)
print('p-value:', round(results.pvalue, 2))

# сравниваем полученное p-value с уровнем значимости
if results.pvalue <= alpha:
    print("Отвергаем нулевую гипотезу в пользу альтернативной")
else:
    print("У нас нет оснований отвергнуть нулевую гипотезу")

# p-value: 0.03
# Отвергаем нулевую гипотезу в пользу альтернативной

p-value: 0.06
У нас нет оснований отвергнуть нулевую гипотезу

In [50]:
n = 36 # размер выборки
x_mean = 16100 # выборочное среднее
sigma = 12000 # истинное стандартное отклонение
gamma = 0.95 # уровень надёжности
alpha = 1 - gamma # уровень значимости

In [51]:
from scipy.stats import norm
z_crit = -norm.ppf(alpha/2) # z-критическое
print(z_crit)

1.959963984540054

In [52]:
def z_mean_conf_interval(x_mean, sigma, n, gamma=0.95):  
    alpha = 1 - gamma  # уровень значимости
    z_crit = -norm.ppf(alpha/2)  # z-критическое
    eps = z_crit * sigma/(n ** 0.5) # погрешность
    lower_bound = x_mean - eps  # левая (нижняя) граница
    upper_bound = x_mean + eps  # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

# строим доверительный интервал для среднего при известном СКО
lower_bound, upper_bound = z_mean_conf_interval(x_mean, sigma, n)

# выводим результат
print('Доверительный интервал: {}'.format((round(lower_bound), round(upper_bound))))

Доверительный интервал: (12180, 20020)

In [53]:
n = 64 # размер выборки
x_mean = 12.35 # выборочное среднее
sigma = 2.4 # истинное стандартное отклонение
gamma = 0.90 # уровень надёжности
alpha = 1 - gamma # уровень значимости

In [54]:
def z_mean_conf_interval(x_mean, sigma, n, gamma=gamma):  
    alpha = 1 - gamma  # уровень значимости
    z_crit = -norm.ppf(alpha/2)  # z-критическое
    eps = z_crit * sigma/(n ** 0.5) # погрешность
    lower_bound = x_mean - eps  # левая (нижняя) граница
    upper_bound = x_mean + eps  # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

# строим доверительный интервал для среднего при известном СКО
lower_bound, upper_bound = z_mean_conf_interval(x_mean, sigma, n)

# выводим результат
print('Доверительный интервал: {}'.format((lower_bound, upper_bound)))

Доверительный интервал: (np.float64(11.856543911914558), np.float64(12.843456088085441))

In [55]:
z_crit = -norm.ppf(alpha/2)
z_crit

np.float64(1.6448536269514729)

In [56]:
n = 15 # размер выборки
k = n - 1 # число степеней свободы
x_mean = 2000 # выборочное среднее
x_std = 400 # выборочное стандартное отклонение
gamma = 0.95 # уровень надёжности
alpha = 1 - gamma # уровень значимости

In [57]:
from scipy.stats import t
t_crit = -t.ppf(alpha/2, k) # t-критическое
print(t_crit)
# 2.1447866879169273

2.1447866879169273

In [58]:
def t_mean_conf_interval(x_mean, x_std, n, gamma=0.95):  
    alpha = 1 - gamma # уровень значимости
    t_crit = -t.ppf(alpha/2, k) # t-критическое
    eps = t_crit * x_std/(n ** 0.5) # погрешность
    lower_bound = x_mean - eps # левая (нижняя) граница
    upper_bound = x_mean + eps # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

# cтроим доверительный интервал для среднего при неизвестном СКО
lower_bound, upper_bound = t_mean_conf_interval(x_mean, x_std, n)

# выводим результат
print('Доверительный интервал: {}'.format((round(lower_bound), round(upper_bound))))

# Доверительный интервал: (1778, 2222)

Доверительный интервал: (1778, 2222)

In [59]:
n = 25 # размер выборки
k = n - 1 #00 число степеней свободы
x_mean = 3540 # выборочное среднее
x_std = 1150 # выборочное стандартное отклонение
gamma = 0.90 # уровень надёжности
alpha = 1 - gamma # уровень значимости

In [60]:
from scipy.stats import t
t_crit = -t.ppf(alpha/2, k) # t-критическое
print(t_crit)
# 2.1447866879169273

1.7108820799094284

In [61]:
def t_mean_conf_interval(x_mean, x_std, n, gamma=gamma):  
    alpha = 1 - gamma # уровень значимости
    t_crit = -t.ppf(alpha/2, k) # t-критическое
    eps = t_crit * x_std/(n ** 0.5) # погрешность
    lower_bound = x_mean - eps # левая (нижняя) граница
    upper_bound = x_mean + eps # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

# cтроим доверительный интервал для среднего при неизвестном СКО
lower_bound, upper_bound = t_mean_conf_interval(x_mean, x_std, n)

# выводим результат
print('Доверительный интервал: {}'.format((lower_bound, upper_bound)))

# Доверительный интервал: (1778, 2222)

Доверительный интервал: (np.float64(3146.4971216208314), np.float64(3933.5028783791686))

In [62]:
ab_data = pd.read_csv('data/ab_data.csv')
ab_data.head()

   user_id   timestamp group  converted
0   851104  2017-01-21     A          0
1   804228  2017-01-12     A          0
2   661590  2017-01-11     B          0
3   853541  2017-01-08     B          0
4   864975  2017-01-21     A          1

In [63]:
# фильтруем данные группы А
a_data = ab_data[ab_data['group'] == 'A']
# фильтруем данные группы B
b_data = ab_data[ab_data['group'] == 'B']

In [64]:
def proportion_conf_interval(x_p, n, gamma=0.95):  
    alpha = 1 - gamma # уровень значимости
    z_crit = -norm.ppf(alpha/2) # z-критическое
    eps = z_crit * (x_p * (1 - x_p) / n) ** 0.5 # погрешность
    lower_bound = x_p - eps # левая (нижняя) граница
    upper_bound = x_p + eps # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

In [65]:
# строим доверительный интервал для конверсии в группе А
lower_bound_a, upper_bound_a  = proportion_conf_interval(
    x_p=a_data['converted'].mean(), # выборочная пропорция
    n=a_data['user_id'].count() # размер выборки
)

# строим доверительный интервал для конверсии в группе B
lower_bound_b, upper_bound_b  = proportion_conf_interval(
    x_p=b_data['converted'].mean(), # выборочная пропорция
    n=b_data['user_id'].count() # размер выборки
)

# выводим результат
print('Доверительный интервал для конверсии в группе А: {}'.format((round(lower_bound_a * 100, 2), round(upper_bound_a * 100, 2))))
print('Доверительный интервал для конверсии в группе B: {}'.format((round(lower_bound_b * 100, 2), round(upper_bound_b * 100, 2))))

# Доверительный интервал для конверсии группы А: (11.86, 12.19)
# Доверительный интервал для конверсии группы B: (11.7, 12.03)

Доверительный интервал для конверсии в группе А: (np.float64(11.86), np.float64(12.19))
Доверительный интервал для конверсии в группе B: (np.float64(11.7), np.float64(12.03))

In [66]:
def diff_proportion_conf_interval(x_p, n, gamma=0.95):
    alpha = 1 - gamma # уровень значимости
    diff = x_p[1] - x_p[0] # выборочная разница конверсий групп B и A
    z_crit = -norm.ppf(alpha/2) #z-критическое
    eps = z_crit * (x_p[0] * (1 - x_p[0])/n[0] + x_p[1] * (1 - x_p[1])/n[1]) ** 0.5 # погрешность
    lower_bound = diff - eps # левая (нижняя) граница
    upper_bound = diff + eps # правая (верхняя) граница
    # возвращаем кортеж из  границ интервала
    return lower_bound, upper_bound

In [67]:
# размеры выборок групп А и B
n = [a_data['user_id'].count(), b_data['user_id'].count()]
# выборочная пропорция групп A и B
x_p = [a_data['converted'].mean(), b_data['converted'].mean()]


# строим доверительный интервал для разности пропорций
lower_bound, upper_bound = diff_proportion_conf_interval(x_p=x_p, n=n)


# выводим результат

print('Доверительный интервал для разности конверсий: {}'.format((round(lower_bound*100, 2), round(upper_bound*100, 2))))

Доверительный интервал для разности конверсий: (np.float64(-0.39), np.float64(0.08))

In [68]:
from scipy.stats import norm

def proportion_conf_interval(x_p, n, gamma=0.90):  
    alpha = 1 - gamma # уровень значимости
    z_crit = -norm.ppf(alpha/2) # z-критическое
    eps = z_crit * (x_p * (1 - x_p) / n) ** 0.5 # погрешность
    lower_bound = x_p - eps # левая (нижняя) граница
    upper_bound = x_p + eps # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound


lower_bound, upper_bound  = proportion_conf_interval(
    x_p=0.698, # выборочная пропорция
    n=189# размер выборки
)
print('Доверительный интервал для разности конверсий: {}'.format((lower_bound, upper_bound)))

Доверительный интервал для разности конверсий: (np.float64(0.6430677310768528), np.float64(0.7529322689231471))

In [69]:
def proportion_conf_interval(x_p, n, gamma=0.95):  
    alpha = 1 - gamma # уровень значимости
    z_crit = -norm.ppf(alpha/2) # z-критическое
    eps = z_crit * (x_p * (1 - x_p) / n) ** 0.5 #погрешность
    lower_bound = x_p - eps # левая (нижняя) граница
    upper_bound = x_p + eps # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

n = 189 # размер выборки
n_positive = 132 # число положительных исходов
x_p = n_positive/n # выборочная пропорция
gamma = 0.9
print('Выборочная пропорция: {}'.format(round(x_p, 3)))

# строим доверительный интервал для пропорций
lower_bound, upper_bound  = proportion_conf_interval(
    x_p=x_p, # выборочная пропорция
    n=n, # размер выборки
    gamma=gamma # уровень надёжности
)

#выводим результат
print('Доверительный интервал: {}'.format((round(lower_bound * 100, 2), round(upper_bound * 100, 2))))

Выборочная пропорция: 0.698
Доверительный интервал: (np.float64(64.35), np.float64(75.33))

In [4]:
from scipy.stats import norm

def diff_proportion_conf_interval(x_p, n, gamma=0.95):
    alpha = 1 - gamma  # уровень значимости
    x_p = [x / n[i] for i, x in enumerate(x_p)]  # преобразование абсолютных значений в доли
    diff = x_p[1] - x_p[0]  # выборочная разница конверсий групп B и A
    z_crit = -norm.ppf(alpha / 2)  # z-критическое
    eps = z_crit * (x_p[0] * (1 - x_p[0]) / n[0] + x_p[1] * (1 - x_p[1]) / n[1]) ** 0.5  # погрешность
    lower_bound = diff - eps  # левая (нижняя) граница
    upper_bound = diff + eps  # правая (верхняя) граница
    # возвращаем кортеж из границ интервала
    return lower_bound, upper_bound

x_p = [45, 50]
n = [1000, 1000]
gamma = 0.95

lower_bound, upper_bound = diff_proportion_conf_interval(x_p, n, gamma)
print(f"Lower bound: {lower_bound}, Upper bound: {upper_bound}")

Lower bound: -0.013642853504823256, Upper bound: 0.023642853504823265

In [5]:
def diff_proportion_conf_interval(x_p, n, gamma=0.95):
    alpha = 1 - gamma # уровень значимости
    diff = x_p[1] - x_p[0] # выборочная разница конверсий групп B и A
    z_crit = -norm.ppf(alpha/2) #z-критическое
    eps = z_crit * (x_p[0] * (1 - x_p[0])/n[0] + x_p[1] * (1 - x_p[1])/n[1]) ** 0.5 # погрешность
    lower_bound = diff - eps # левая (нижняя) граница
    upper_bound = diff + eps # правая (верхняя) граница
    # возвращаем кортеж из  границ интервала
    return lower_bound, upper_bound


n = 1000 # размер выборки обеих групп
n_positive_a = 45 # число пользователей, совершивших конверсию, в группе А
n_positive_b = 50 # число пользователей, совершивших конверсию, в группе B
xp_a = n_positive_a/n # выборочная пропорция группы A
xp_b = n_positive_b/n # выборочная пропорция группы B


# строим доверительный интервал для разности пропорций
lower_bound, upper_bound = diff_proportion_conf_interval(
    x_p=[xp_a, xp_b],
    n=[n, n]
)


# выводим результат
print('Доверительный интервал для разности конверсий: {}'.format((round(lower_bound*100, 2), round(upper_bound*100, 2))))

Доверительный интервал для разности конверсий: (np.float64(-1.36), np.float64(2.36))